.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr 20fr;
}

header {
  width: 100%;
  background-color: green;
  grid-column: 1/8;
}

header img {
  width: 50px;
  height: 100%;
  cursor: pointer;
}

.sidebar {
  background-color: green;
  
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar li:last-child {
  margin-top: 40px;
}

.content {
  background-color: green;
  color: white
}

.ava-description, .myPosts, .new-post {
  padding: 10px;
}